/**
 * @ Author: Rishit Patel
 * @ Create Time: May 03, 2020 14:59:58
 * @ Description: pitzeria
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: white;
}

.rContainer {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 56px;
  width: 100vw;
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.11);
  overflow: hidden;
  color: #E5342A;
}

.navbar #menuIcon {
  margin-left: 25px;
}

.navbar #foodTray {
  margin-right: 25px;
}

.navbar #logo {
  height: 50%;
}

.mainArea {
  height: calc(100vh - 112px);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  overflow: hidden;
}

@media (max-width: 992px) {
  .mainArea {
    padding: 0 2%;
  }
}

@media (max-width: 768px) {
  .mainArea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadeInLeft 1.1s;
          animation: fadeInLeft 1.1s;
}

.left #pizzaTitle {
  font-size: 4.7em;
  text-align: center;
}

.left #pizzaDesc {
  text-align: center;
  font-size: 1.1em;
  max-width: 70%;
}

.left .pizzaPrice {
  font-weight: bold;
  font-size: 1.8em;
}

.left .animateLeft {
  -webkit-animation: fadeInLeft 0.6s;
          animation: fadeInLeft 0.6s;
}

.left .sizeArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  font-size: 17px;
  margin-top: 11px;
}

@media (max-width: 1140px) {
  .left .sizeArea {
    width: 42%;
  }
}

.left .sizeArea #size {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 17px;
}

.left .orderNow {
  border: none;
  border-radius: 11rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.1% 4.5%;
  background-color: #E5342A;
  color: white;
  margin-top: 11px;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (max-width: 992px) {
  .left #pizzaTitle {
    font-size: 3.1em;
    line-height: 1em;
    margin-bottom: 6px;
  }
  .left #pizzaDesc {
    font-size: 0.9em;
    max-width: 86%;
  }
  .left .pizzaPrice {
    font-size: 1.1em;
  }
  .left .sizeArea {
    font-size: 1.1em;
    width: 41%;
  }
  .left .sizeArea #size {
    font-size: 1.1em;
  }
  .left .orderNow {
    font-size: 1.1em;
  }
}

@media (max-width: 768px) {
  .left {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 21px;
  }
  .left .sizeArea {
    font-size: 1em;
    width: 30%;
  }
  .left .sizeArea #size {
    font-size: 1em;
  }
  .left .orderNow {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-animation: fadeInRight 1.1s;
          animation: fadeInRight 1.1s;
}

.right #pizzaImg {
  max-height: 70%;
  max-width: 70%;
}

.right .animateRight {
  -webkit-animation: fadeInRight 0.6s;
          animation: fadeInRight 0.6s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (max-width: 992px) {
  .right #pizzaImg {
    max-height: 96%;
    width: auto;
  }
}

@media (max-width: 768px) {
  .right {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
  }
  .right #pizzaImg {
    height: 100%;
    max-width: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  width: 100vw;
  font-size: 1.1em;
  -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.11);
  overflow: hidden;
  cursor: pointer;
}

#footer .fBox {
  height: 100%;
  width: 16.6666666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .active {
  border-bottom: 7px solid #E5342A;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media (max-width: 992px) {
  #footer {
    font-size: 1em;
    height: 47px;
  }
  #footer .active {
    border-bottom: 4px solid #E5342A;
  }
}

@media (max-width: 500px) {
  #footer {
    font-size: 3vw;
    height: 47px;
  }
  #footer .active {
    border-bottom: 4px solid #E5342A;
  }
}

#mobile {
  display: none;
}

@media (max-width: 500px) {
  #mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 10;
    width: 100vw;
    height: 100vh;
    background-color: #E5342A;
    color: white;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */